{% extends "../baseIdentificado.html" %}

{% block script_identificado %}
{% block script_usuarioEstandar %}{% endblock %}
{% endblock %}

<!-- Encapsulamos el titulo_base -->
{% block titulo_identificado %}
{% block titulo_usuarioEstandar %}{% endblock %}
{% endblock %}

{% block barra_nav_identificado %}
<ul class="nav navbar-nav">
    <li id="offers-menu" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Gestión de ofertas <span class="caret"></span> </a>
        <ul class="dropdown-menu">
            <li><a id="btn_addOffer" href="/offer/add">Agregar Oferta </a></li>
            <li><a id="btn_viewOffers" href="/offer/list"> Ver Oferta</a></li>
        </ul>
    </li>
    <li id="personal-menu" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="# ">Área personal   <span class="caret"></span>
        </a>
            <ul class="dropdown-menu">
                <li><a id="btn_myOffers" href="/offer/my">Nuestras ofertas</a></li>
                <li><a href="/offer/purchased">Ofertas adquiridas</a></li>
            </ul>
        </li>

</ul>
{% endblock %}

{% block contenido_principal_identificado %}
{% block contenido_principal_usuarioEstandar %}{% endblock %}
{% endblock %}
