{% extends "baseUsuarioEstandar.html" %}
{% block titulo_usuarioEstandar %} Perfil: {{usuario.name}} {{usuario.lastname}}{% endblock %}

{% block contenido_principal_usuarioEstandar %}
	<div class="container" style="text-align: center">
		<h2 id="profile_title">{{usuario.name}}, {{usuario.lastname}}</h2>
		<div class="row">
			<div class="col-md-6">
				<h3> Detalles</h3>
				<ul class="list-group">
				<li class="list-group-item " >
					<p>Emails:</p>
					 <b>{{usuario.email}}</b>
				
				</li >
				<li class="list-group-item">
					<p >Nombre:</p>
					 <b>{{usuario.name}}</b>
				</li>
				<li class="list-group-item ">
					<p>Apellidos:</p>
					 <b>{{usuario.lastname}}</b>
				</li>
				<li class="list-group-item ">
					<p>Saldo:</p>
					<b>{{usuario.cash}} €</b>
				</li>
				</ul>
			</div>
			
				<div class="col-md-6">
					<h3> Opciones</h3>
						<ul class="list-group">
							<li class="list-group-item">
							  <a href="/agregarOferta" class="list-group-item list-group-item-action">Agregar oferta</a>
						  	</li>
							  <li class="list-group-item ">
							  <a href="/buscarOfertas" class="list-group-item">Ver ofertas</a>
						  	</li>
						  	<li class="list-group-item ">
							  <a href="/verOfertasPublicadas" class="list-group-item list-group-item-action">Ofertas publicadas</a>
						  	</li>
						  	<li class="list-group-item ">
							  <a href="/verOfertasCompradas" class="list-group-item list-group-item-action">Ver tus compras</a>
						  	</li>
						</ul>
						

				</div>
			</div>
		
		
	</div>
{% endblock %}
