{% extends "baseUsuarioAdministrador.html" %}

{% block titulo_usuarioAdministrador %}My Wallapop{% endblock %}

{% block contenido_principal_usuarioAdministrador %}
	<div class="container" style="text-align: center">
		<h2 id="title_home" >Bienvenido a My Wallapop</h2>
		<p id="description_home">MyWallapop, la web de compra-venta más grande del país en
			la que millones de usuarios compran y venden productos nuevos,
			productos de segunda mano. Usando MyWallapop ahorrarás dinero y conseguirás un
			ingreso extra vendiendo lo que ya no utilizas. En MyWallapop
			encontrarás el catálogo más amplio de anuncios clasificados y podrás
			publicar anuncios gratis.</p>
	</div>
{% endblock %}
